<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420763094394-6u3v59haqdfcloqshctgtdos8jf29or7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420763094394-6u3v59haqdfcloqshctgtdos8jf29or7</string>
	<key>API_KEY</key>
	<string>AIzaSyAJVDCM_y4QLJHANSaMYIDrLvojfBI9Sak</string>
	<key>GCM_SENDER_ID</key>
	<string>420763094394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palancica.Rick-and-Morty-Demo-iOS</string>
	<key>PROJECT_ID</key>
	<string>rick-and-morty-demo-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>rick-and-morty-demo-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420763094394:ios:8d7d7f1bb79511edc31ac3</string>
</dict>
</plist>